# Build and Release Folders
bin/
bin-debug/
bin-release/
Library/
Temp/
unity/knave/knave.sln
unity/knave/knave-csharp.sln
unity/knave/Assembly-CSharp.csproj
unity/knave/Assembly-CSharp-vs.csproj
unity/knave/Assembly-CSharp.pidb
unity/knave/knave.userprefs
Build/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.